{% extends 'base.html.twig' %}

{% block title %}Change Password - Sapes Avenue{% endblock %}

{% block content %}

<h1>Change my password</h1>

<a href="{{ path('app_front_account') }}" class="btn">Back</a>

{% if message %}

<div class="alert alert-info">{{message}}</div>
{% endif %}

{{ form(form) }}

{% endblock %}