{% extends 'back/layout_back.html.twig' %}

{% block title %}New Category - Wear Avenue{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add a new category</h1>
    
        {{ include('back/category/_form.html.twig') }}
    
        <a href="{{ path('app_back_category_index') }}" class="btn btn-secondary mt-1">Back to list</a>
    </div>
{% endblock %}
