{% extends 'base.html.twig' %}

{% block title %}Update your password - Wear Avenue
{% endblock %}

{% block main %}
	<div class="container">
		<form
			method="post">
			{#} {% if error %}
			        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			    {% endif %}#}
			{% for message in app.flashes('notice') %}
				<div class="class">{{ message }}</div>
			{% endfor %}
			{{ form(form) }}

				{#
				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				        See https://symfony.com/doc/current/security/remember_me.html
				
				        <div class="checkbox mb-3">
				            <label>
				                <input type="checkbox" name="_remember_me"> Remember me
				            </label>
				        </div>
				    
				
				    <button class="btn btn-lg btn-primary" type="submit">
				        Reset your password
				    </button>#}
			</form>
		</div>
	{% endblock %}
