{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block main %}

<div class="small-container">

            <div class="row">
                <div class="col-4">
                    <img src="assets/img/women-01.jpg" alt="">
                    <h4>Category 1</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/women-02.jpg" alt="">
                    <h4>Category 2</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/women-03.jpg" alt="">
                    <h4>Category 3</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/kid-01.jpg" alt="">
                    <h4>Category 4</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="assets/img/women-01.jpg" alt="">
                    <h4>Category 1</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/women-02.jpg" alt="">
                    <h4>Category 2</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/women-03.jpg" alt="">
                    <h4>Category 3</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/kid-01.jpg" alt="">
                    <h4>Category 4</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="assets/img/women-01.jpg" alt="">
                    <h4>Category 1</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/women-02.jpg" alt="">
                    <h4>Category 2</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/women-03.jpg" alt="">
                    <h4>Category 3</h4>
                </div>
                <div class="col-4">
                    <img src="assets/img/kid-01.jpg" alt="">
                    <h4>Category 4</h4>
                </div>
            </div>
        </div>

{% endblock %}
