{% extends 'back/layout_back.html.twig' %}

{% block title %}New Product - Wear Avenue{% endblock %}

{% block body %}
	<div class="container">
		<h1>Add new product</h1>

		{{ include('back/product/_form.html.twig') }}

		<a href="{{ path('app_back_product_index') }}" class="btn btn-primary mb-1">Back to list</a>
	</div>
{% endblock %}
