{% extends 'base.html.twig' %}

{% block title %}Thank you for your order - Sapes Avenue
{% endblock %}

{% block main %}

{# TODO PAGE TO CREATE #}

<a href="{{ path('app_cart')}}" class="btn">Réessayer le paiement</a>

{% endblock %}
