{% extends 'base.html.twig' %}

{% block title %}Change Password - Sapes Avenue{% endblock %}

{% block main %}
<div class="small-container">
<h1>Change my password</h1>

<a href="{{ path('app_front_account') }}" class="btn">Back</a>

{% if message %}

<div class="alert alert-info">{{message}}</div>
{% endif %}

{{ form(form) }}
</div>

{% endblock %}