{% extends "base.html.twig" %}

{# sous-nav pour les pages du back #}
{% block sub_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_back_product_index') }}">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_back_user_index') }}">Users</a>
    </li>
</ul>

{% endblock %}